upstream backend {
  server unix:{{ deploy_dir }}/shared/tmp/sockets/puma.sock;
}

server {
  listen 80;
  client_max_body_size 1G;
  server_name hrtsm.ru www.hrtsm.ru;
  keepalive_timeout 10;
  root {{ deploy_dir }}/current/public;
  
  #редиректим
  if ($host ~* www\.(.*)) {
    set $host_without_www $1;
    rewrite ^(.*)$ http://$host_without_www$1 permanent;
  }

  try_files $uri/index.html $uri.html $uri @{{ name }};

  location ~ ^/assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location ~ ^/uploads/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location @{{ name }} {
    proxy_pass http://backend;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
  }
}